In [2]:
import sys
import os
sys.path.append(os.path.abspath(".."))
from eddie_tools.record import RedisFillLoader

In [12]:
contracts = RedisFillLoader('2025,6,1','2025,6,3','capital_proton_snf')

In [13]:
contracts.load_concat_df()

Concatenating fills: 100%|██████████| 3/3 [00:00<00:00, 18.07it/s]

,time,ts,instr,oflag,tid,px,alqortake,sz,theo,fwd,...,gamma,theta,vol,mult,latefill,fee,qm,pfdelta,otags,seq
0,2025-06-03 09:06:01.030079,1748912761030079,FUT_TAIFEX_SNF:202507,2097152,TAIFEX240#8772,17.01,take,5,17.080,17.080,...,0,0,0,10000,False,0.000840,0,0,0x60000,1
1,2025-06-03 09:15:45.610339,1748913345610339,FUT_TAIFEX_SNF:202507,8192,TAIFEX240#41623,17.12,take,-1,17.135,17.135,...,0,0,0,10000,False,0.000842,0,0,0x80000,2
2,2025-06-03 09:16:03.562046,1748913363562046,FUT_TAIFEX_SNF:202507,8192,TAIFEX240#42995,17.12,take,-4,17.130,17.130,...,0,0,0,10000,False,0.000842,0,0,0x80000,3

In [14]:
contracts.print_pnl_summary()

instr                    realized_pnl    net_position
FUT_TAIFEX_SNF:202507            5500               0